Language: Cpp
Standard: Latest

AccessModifierOffset: -3
AlignAfterOpenBracket: true
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: false
AlignConsecutiveBitFields:
  Enabled: false
AlignConsecutiveDeclarations:
  Enabled: false
AlignConsecutiveMacros:
  Enabled: false
AlignConsecutiveShortCaseStatements:
  Enabled: false
AlignConsecutiveTableGenBreakingDAGArgColons:
  Enabled: false
AlignConsecutiveTableGenCondOperatorColons:
  Enabled: false
AlignConsecutiveTableGenDefinitionColons:
  Enabled: false
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: AlignAfterOperator
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
  # Clang23
  #MaxEmptyLinesToKeep: 2
  AlignPPAndNotPP: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowBreakBeforeNoexceptSpecifier: OnlyWithParen
AllowBreakBeforeQtProperty: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AllowShortNamespacesOnASingleLine: true
# Clang23
#AllowShortRecordOnASingleLine: EmptyAndAttached
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
BinPackLongBracedList: true
BinPackParameters: false
BitFieldColonSpacing: Both
BracedInitializerIndentWidth: 2
BreakAdjacentStringLiterals: true
BreakAfterAttributes: Always
BreakAfterJavaFieldAnnotations: true
BreakAfterOpenBracketBracedList: true
BreakAfterOpenBracketFunction: true
BreakAfterOpenBracketIf: true
BreakAfterOpenBracketLoop: true
BreakAfterOpenBracketSwitch: true
BreakAfterReturnType: All
BreakArrays: false
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeCloseBracketBracedList: false
BreakBeforeCloseBracketFunction: false
BreakBeforeCloseBracketIf: false
BreakBeforeCloseBracketLoop: false
BreakBeforeCloseBracketSwitch: false
BreakBeforeConceptDeclarations: Always
BreakBeforeInlineASMColon: OnlyMultiline
# Clang23
#BreakBeforeReturnType: None
BreakBeforeTemplateCloser: true
BreakBeforeTernaryOperators: true
BreakBinaryOperations: Never
BreakConstructorInitializers: BeforeComma
# Clang23
#BreakFunctionDeclarationParameters: false
BreakFunctionDefinitionParameters: false
BreakInheritanceList: AfterComma
BreakStringLiterals: true
BreakTemplateDeclarations: Yes
ColumnLimit: 80
CompactNamespaces: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: Block
DerivePointerAlignment: false
DisableFormat: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
# Warning - EnumTrailingComma
# Setting this option to any value other than `Leave` could lead to incorrect
# code formatting due to clang-format’s lack of complete semantic information.
# As such, extra care should be taken to review code changes made by this
# option.
EnumTrailingComma: Leave  # Would prefer `insert` but see above...
ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: true
IncludeBlocks: Preserve
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: true
IndentExportBlock: false
IndentExternBlock: NoIndent
IndentGotoLabels: False
# Clang23
#IndentGotoLabels: NoIndent
IndentPPDirectives: BeforeHash
IndentRequiresClause: true
IndentWidth: 3
IndentWrappedFunctionNames: false
# Warning - InsertBraces
# Setting this option to true could lead to incorrect code formatting due to
# clang-format’s lack of complete semantic information. As such, extra care
# should be taken to review code changes made by this option.
InsertBraces: false  # Would prefer `true` but see above...
InsertNewlineAtEOF: false
InsertTrailingCommas: None  # `Wrapped` is not compatible with bin packing.
IntegerLiteralSeparator:
  Binary: 0
  Decimal: 3
  Hex: -1
JavaImportGroups: []
JavaScriptQuotes: Double
JavaScriptWrapImports: true
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false
KeepFormFeed: false
LambdaBodyIndentation: OuterScope
LineEnding: LF
MacroBlockBegin: ''
MacroBlockEnd: ''
MainIncludeChar: Quote
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
NumericLiteralCase:
  ExponentLetter: Lower
  HexDigit: Lower
  Prefix: Lower
  Suffix: Upper
ObjCBinPackProtocolList: Auto
ObjCBlockIndentWidth: 3
ObjCBreakBeforeNestedBlockParam: false
# Clang23
#ObjCSpaceAfterMethodDeclarationPrefix: false
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: false
OneLineFormatOffRegex: ''
PPIndentWidth: -1
# Clang23
#PackArguments: OnePerLine
PackConstructorInitializers: Never
# Clang23
#PackParameters: OnePerLine

# PENALTY - Leaving all the penalties at their defaults.

PointerAlignment: Right
# Warning - QualifierAlignment
# Setting QualifierAlignment to something other than Leave, COULD lead to 
# incorrect code formatting due to incorrect decisions made due to clang-formats
# lack of complete semantic information. As such extra care should be taken to
# review code changes made by the use of this option.
QualifierAlignment: Leave
# Should work but doesn't?
#QualifierOrder: [static, inline, constexpr, friend, type, const, volatile, restrict]
ReferenceAlignment: Right
ReflowComments: Always
RemoveBracesLLVM: false
RemoveEmptyLinesInUnwrappedLines: true
RemoveParentheses: Leave
RemoveSemicolon: false
RequiresClausePosition: OwnLineWithBrace
RequiresExpressionIndentation: OuterScope
SeparateDefinitionBlocks: Always
ShortNamespaceLines: 0
SkipMacroDefinitionBody: false
SortIncludes:
  Enabled: true
  IgnoreCase: false
  IgnoreExtension: false
SortJavaStaticImport: Before
SortUsingDeclarations: LexicographicNumeric
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterOperatorKeyword: false
SpaceAfterTemplateKeyword: true
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeJsonColon: false
SpaceBeforeParens: ControlStatements
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros: true
  AfterFunctionDefinitionName: false
  AfterFunctionDeclarationName: false
  AfterIfMacros: true
  AfterNot: false
  AfterOverloadedOperator: false
  AfterPlacementOperator: true
  AfterRequiresInClause: false
  AfterRequiresInExpression: false
  BeforeNonEmptyParentheses: false
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBraces: Never
SpacesBeforeTrailingComments: 2
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1
SpacesInParens: Custom
SpacesInParensOptions:
  ExceptDoubleParentheses: true
  InCStyleCasts: false
  InConditionalStatements: false
  InEmptyParentheses: false
  Other: false
SpacesInSquareBrackets: false
TabWidth: 8
TableGenBreakInsideDAGArg: BreakAll
TableGenBreakingDAGArgOperators: [ins, outs]
UseTab: Never
VerilogBreakBetweenInstancePorts: true
WrapNamespaceBodyWithEmptyLines: Always
